[project]
	description = Ability to execute openstack4j api's through shell
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vinod Borole (vinodborole)
[access "refs/for/refs/*"]
	read = group user/Vinod Borole (vinodborole)
	push = group user/Vinod Borole (vinodborole)
	label-Code-Review = -2..+2 group user/Vinod Borole (vinodborole)
	label-Verified = -1..+1 group user/Vinod Borole (vinodborole)
	rebase = group user/Vinod Borole (vinodborole)
	removeReviewer = group user/Vinod Borole (vinodborole)
	submit = group user/Vinod Borole (vinodborole)
[access "refs/heads/*"]
	read = group user/Vinod Borole (vinodborole)
	create = group user/Vinod Borole (vinodborole)
	push = +force group user/Vinod Borole (vinodborole)
	pushMerge = group user/Vinod Borole (vinodborole)
[access "refs/tags/*"]
	push = +force group user/Vinod Borole (vinodborole)
	pushTag = group user/Vinod Borole (vinodborole)
	pushSignedTag = group user/Vinod Borole (vinodborole)
